@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@layer base {
  @font-face {
    font-family: "Oswald";
    src: url("./assets/fonts/Oswald-Bold.ttf");
  }
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url("./assets/fonts/Poppins-Regular.ttf");
  }
}
@layer utilities {
  .h-600 {
    height: 600px;
  }
}

html {
  /* height: 100%; */
  /* width: 100%; */
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  /* height: 100%; */
  /* width: 100%; */
  /* background-color: #131720; */
  background-color: #06061b;
  /* overflow: hidden; */
  /* filter: blur(18px); */
}

.bg-image {
  background-image: url("./assets/images/blockchain2.jpeg");
  filter: blur(30px);
  /* position: absolute; */
  position: fixed;
  height: 100%;
  width: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(108, 122, 137, 0.6);
}
